body{
font-family:sans-serif;
text-align:center;
background:#111;
color:#fff
}

video{
width:90%;
border-radius:10px;
margin-top:20px
}

button{
padding:12px 20px;
margin:10px;
font-size:16px;
border:none;
border-radius:8px
}